@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}


.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 30%;
    border: solid white;
    border-radius: 100px;
}

.navbar{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    height: 447px;
}

.nav-list{
     width: 50%;
     /* background-color: black; */
     display: flex;
     /* justify-content: center; */
     align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;

}
.nav-list li a:hover{
    text-decoration: none;
    color: grey;

}
.rightNav{
    width: 50%;
    text-align: right;
    /* background-color: black; */
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7)url(https://images.unsplash.com/photo-1610307766999-01f45d259959?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnVpbGRpbmclMjBpbiUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;

}

.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    max-width: 50%;
    height: 80%;
}
.firstHalf{
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
}
.secondHalf{
    width: 30%;

}
.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;

}

.text-big{
   font-size: 37px;
}
.text-small{
    font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    /* font-size: 18px; */
    background: none;
    color: white;
    cursor: pointer;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle ;
    font-size: 16px;
}
.btn-dark{
    color: black;
    border: 2px solid black;
    

}
.section{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    max-width: 80%;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}
.section-left{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    max-width: 80%;
    margin: auto;
    flex-direction: row-reverse;
}
.paras{
    padding: 0 65px;
}
.sectionTag{
      padding: 16px 0;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail img{
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 20px;
}
.contact{
    background-color: beige;
    height: 775px;
    font-size: 20px;
}
.text-center{
    text-align: center;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.form{
    max-width: 500px;
    margin: 25px auto;
}
.form-input{
    margin: 20px 0;
    width: 100%;
    padding: 4px 3px;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 7px;
    font-family: 'Ubuntu', sans-serif; 
}
.text-horse{
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
    
}

